* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

.container_cells {
      max-width: 1200px;
      margin: auto;
}


.grid {
      display: flex;
}
.cell {
      width: 100px;
      aspect-ratio: 1 / 1;
      border: 1px solid;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
}