* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
section {
      display: none;
}
.container_cell {
      max-width: 1200px;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
}

.cell {
      width: calc(100% / 10);
      aspect-ratio: 1 / 1;
      border: 1px solid;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
}

.active {
      display: block;
}

.color_click {
      background-color: blue;
}